.audio-controls,
.audio-player,
.attachment {
  margin: 10px 0;
}

.btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.audio-player audio {
  width: 100%;
  /* Full width */
}

#attach {
  background-color: #28a745;
  /* Different color for the attach button */
}
